# Task 1
## 1. Env set up
1. scoop install Python
2. pip install jupyter pandas numpy matplotlib
3. VSCode with extensions: jupytor, python, Copilot(Core: Claude Sonnet 4)
---
## 2. Learning/Working route
1. figure out task-involved knowledge range, in this case package calling
2. watch some short videos about these package to quickly get knowing what they do, have, and their advantages
3. check their usage in the official documents
---
## 3. Work Sequentially
#### a. Before start

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

train_data = pd.read_csv('../MBAAdmission/train.csv')
test_data = pd.read_csv('../MBAAdmission/test.csv')

# having a look at the data
print(train_data.head())
print("----------------------------------------------------------------------------")
print(train_data.info())
print("----------------------------------------------------------------------------")
print(train_data.describe())

   application_id  gender international   gpa       major      race   gmat  \
0               1  Female         False  3.30    Business     Asian  620.0
1               2    Male         False  3.28  Humanities     Black    NaN
2               3  Female          True  3.30    Business       NaN  710.0
3               4    Male         False  3.47        STEM     Black  690.0
4               5    Male         False  3.35        STEM  Hispanic  590.0

   work_exp          work_industry admission
0       3.0     Financial Services     Admit
1       5.0  Investment Management    Reject
2       5.0             Technology     Admit
3       NaN             Technology    Reject
4       5.0             Consulting    Reject
----------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6095 entries, 0 to 6094
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   application_id  6095 non-null   int64
 1   gender          5790 non-null   object
 2   international   5790 non-null   object
 3   gpa             5790 non-null   float64
 4   major           5790 non-null   object
 5   race            4062 non-null   object
 6   gmat            5790 non-null   float64
 7   work_exp        5790 non-null   float64
 8   work_industry   5790 non-null   object
 9   admission       6095 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 476.3+ KB
None
----------------------------------------------------------------------------
       application_id          gpa         gmat     work_exp
count     6095.000000  5790.000000  5790.000000  5790.000000
mean      3104.612141     3.249636   650.818653     5.021934
std       1785.573306     0.151287    49.415865     1.034741
min          1.000000     2.650000   570.000000     1.000000
25%       1560.500000     3.150000   610.000000     4.000000
50%       3101.000000     3.250000   650.000000     5.000000
75%       4651.500000     3.350000   680.000000     6.000000
max       6194.000000     3.770000   780.000000     9.000000

#### b. Subtask 1

In [15]:
# Subtask 1: traits and characteristics
numerical_cols = train_data.select_dtypes(include=[np.number]).columns.tolist()
categorical_cols = train_data.select_dtypes(include=['object']).columns.tolist()

# Numerical columns
print("----------------------------------------------------------------------------------")
print("Numerical Columns:", numerical_cols)
display(train_data[numerical_cols].describe(percentiles=[.5]))
print("----------------------------------------------------------------------------------\n\n")

# Categorical columns
print("----------------------------------------------------------------------------------")
print("Categorical Columns:", categorical_cols)
display(train_data[categorical_cols].describe())
# column-wise
for col in categorical_cols:
    print(f"\nColumn '{col}':")
    table = {'Count': train_data[col].count(),
             'Unique': train_data[col].nunique(),
             'Top': train_data[col].value_counts().idxmax(),
             'Freq': train_data[col].value_counts().max(),
             'Missing': train_data[col].isnull().sum()
             }
    display(pd.DataFrame.from_dict(table, orient='index', columns=[col]))
    print(f"Value Counts for {train_data[col].value_counts()}\n")
print("----------------------------------------------------------------------------------")

----------------------------------------------------------------------------------
Numerical Columns: ['application_id', 'gpa', 'gmat', 'work_exp']

       application_id          gpa         gmat     work_exp
count     6095.000000  5790.000000  5790.000000  5790.000000
mean      3104.612141     3.249636   650.818653     5.021934
std       1785.573306     0.151287    49.415865     1.034741
min          1.000000     2.650000   570.000000     1.000000
50%       3101.000000     3.250000   650.000000     5.000000
max       6194.000000     3.770000   780.000000     9.000000

----------------------------------------------------------------------------------


----------------------------------------------------------------------------------
Categorical Columns: ['gender', 'international', 'major', 'race', 'work_industry', 'admission']

       gender international       major   race work_industry admission
count    5790          5790        5790   4062          5790      6095
unique      2             2           3      5            14         3
top      Male         False  Humanities  White    Consulting    Reject
freq     3702          4067        2314   1358          1522      5161

Column 'gender':

        gender
Count     5790
Unique       2
Top       Male
Freq      3702
Missing    305

Value Counts for gender
Male      3702
Female    2088
Name: count, dtype: int64


Column 'international':

        international
Count            5790
Unique              2
Top             False
Freq             4067
Missing           305

Value Counts for international
False    4067
True     1723
Name: count, dtype: int64


Column 'major':

              major
Count          5790
Unique            3
Top      Humanities
Freq           2314
Missing         305

Value Counts for major
Humanities    2314
STEM          1758
Business      1718
Name: count, dtype: int64


Column 'race':

          race
Count     4062
Unique       5
Top      White
Freq      1358
Missing   2033

Value Counts for race
White       1358
Asian       1078
Black        857
Hispanic     553
Other        216
Name: count, dtype: int64


Column 'work_industry':

        work_industry
Count            5790
Unique             14
Top        Consulting
Freq             1522
Missing           305

Value Counts for work_industry
Consulting               1522
PE/VC                     849
Technology                667
Nonprofit/Gov             607
Investment Banking        536
Financial Services        419
Other                     396
Health Care               306
Investment Management     156
CPG                       109
Real Estate               107
Media/Entertainment        56
Retail                     31
Energy                     29
Name: count, dtype: int64


Column 'admission':

        admission
Count        6095
Unique          3
Top        Reject
Freq         5161
Missing         0

Value Counts for admission
Reject      5161
Admit        867
Waitlist      67
Name: count, dtype: int64

----------------------------------------------------------------------------------

#### c. Subtask 2

In [16]:
# Subtask 2: missing values

# Overall view
print("Missing Values Summary:")
missing_counts = train_data.isnull().sum()
missing_percent = (missing_counts / len(train_data)) * 100

print(f"{'Column':<15} {'Missing':<8} {'Total':<6} {'Percentage':<10}")
print("-" * 45)
for col in train_data.columns:
    if missing_counts[col] > 0:
        print(f"{col:<15} {missing_counts[col]:>7} {len(train_data):>5} {missing_percent[col]:>8.1f}%")
print("-" * 45+"\n\n")


method = 1 # 1 or 2
# method 1: Fill with mean(numerical)
if(method == 1):
    train_data[numerical_cols]=train_data[numerical_cols].fillna(train_data[numerical_cols].mean())
# method 2: Fill with forward fill(numerical)
elif(method == 2):
    train_data[numerical_cols]=train_data[numerical_cols].fillna(method='ffill')

# method 3: Fill with mode(categorical)
for col in categorical_cols:
    train_data[col] = train_data[col].fillna(train_data[col].mode()[0])
# Verify
print("Post-Imputation Missing Values Summary:")
missing_counts_post = train_data.isnull().sum()
missing_percent_post = (missing_counts_post / len(train_data)) * 100
print(f"{'Column':<15} {'Missing':<8} {'Total':<6} {'Percentage':<10}")
print("-" * 45)
for col in train_data.columns:
    print(f"{col:<15} {missing_counts_post[col]:>7} {len(train_data):>5} {missing_percent_post[col]:>8.1f}%")
print("-" * 45)

Missing Values Summary:
Column          Missing  Total  Percentage
---------------------------------------------
gender              305  6095      5.0%
international       305  6095      5.0%
gpa                 305  6095      5.0%
major               305  6095      5.0%
race               2033  6095     33.4%
gmat                305  6095      5.0%
work_exp            305  6095      5.0%
work_industry       305  6095      5.0%
---------------------------------------------


Post-Imputation Missing Values Summary:
Column          Missing  Total  Percentage
---------------------------------------------
application_id        0  6095      0.0%
gender                0  6095      0.0%
international         0  6095      0.0%
gpa                   0  6095      0.0%
major                 0  6095      0.0%
race                  0  6095      0.0%
gmat                  0  6095      0.0%
work_exp              0  6095      0.0%
work_industry         0  6095      0.0%
admission             0  6095      0.0%
---------------------------------------------

C:\Users\zxy84\AppData\Local\Temp\ipykernel_17864\2390412564.py:26: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_data[col] = train_data[col].fillna(train_data[col].mode()[0])

#### d. Subtask 3

In [ ]:
# Subtask 3: One-hot encoding

# Create copies to preserve original data
train_encoded = train_data.copy()
test_encoded = test_data.copy()

# 1. Label Encoding for Gender (using pandas mapping)
print("1. Label Encoding for 'gender':")
gender_mapping = {gender: idx for idx, gender in enumerate(train_data['gender'].unique())}
train_encoded['gender'] = train_encoded['gender'].map(gender_mapping)
test_encoded['gender'] = test_encoded['gender'].map(gender_mapping)
print(f"   Mapping: {gender_mapping}")
print(f"   Sample encoded values: {train_encoded['gender'].head().tolist()}\n")

# 2. Binary Encoding for International (using pandas mapping)
print("2. Binary Encoding for 'international':")
international_mapping = {'TRUE': 1, 'FALSE': 0}
train_encoded['international'] = train_encoded['international'].map(international_mapping)
test_encoded['international'] = test_encoded['international'].map(international_mapping)
print(f"   Mapping: {international_mapping}")
print(f"   Sample encoded values: {train_encoded['international'].head().tolist()}\n")

# 3. One-Hot Encoding for remaining categorical columns (using pd.get_dummies)
remaining_categorical = [col for col in categorical_cols if col not in ['gender', 'international']]
print(f"3. One-Hot Encoding for: {remaining_categorical}")

# Apply one-hot encoding using pandas get_dummies
train_onehot = pd.get_dummies(train_encoded[remaining_categorical], prefix=remaining_categorical, dtype=int)
test_onehot = pd.get_dummies(test_encoded[remaining_categorical], prefix=remaining_categorical, dtype=int)

# Ensure test set has same columns as train set
missing_cols = set(train_onehot.columns) - set(test_onehot.columns)
for col in missing_cols:
    test_onehot[col] = 0
test_onehot = test_onehot[train_onehot.columns]  # Reorder columns

print(f"   Created {train_onehot.shape[1]} one-hot encoded columns")
print(f"   Sample columns: {list(train_onehot.columns[:5])}\n")

# Combine all features
# Drop original categorical columns
train_final = train_encoded.drop(columns=remaining_categorical)
test_final = test_encoded.drop(columns=remaining_categorical)

# Add one-hot encoded columns
train_final = pd.concat([train_final, train_onehot], axis=1)
test_final = pd.concat([test_final, test_onehot], axis=1)

print("=== ENCODING SUMMARY ===")
print(f"Original shape: {train_data.shape}")
print(f"Final encoded shape: {train_final.shape}")
print(f"New columns added: {train_final.shape[1] - train_data.shape[1]}")

# Display sample of encoded data
print("\nSample of final encoded data:")
display(train_final.head())

# Verification
print("\n=== VERIFICATION ===")
print("Data types after encoding:")
print(train_final.dtypes.value_counts())
print(f"No missing values: {train_final.isnull().sum().sum() == 0}")